@media screen and(max-width: 440px) {
    /*VIP Workshop: Real Jobs in an Artificial World  Card*/
    /*Celebrating The  Creator Economy*/


    /*session-container*/
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(1)>div>div.time-row.row>div.session-elem.col-md-11.col-md-offset-0>div,
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(12)>div>div>div.session-elem.col-md-11.col-md-offset-0>div {
        height: 262px;
    }

    /*slick-list*/
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(1)>div>div.time-row.row>div.session-elem.col-md-11.col-md-offset-0>div>div.speakers-container.has-speakers.col-xs-12>div>div>div,
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(12)>div>div>div.session-elem.col-md-11.col-md-offset-0>div>div.speakers-container.has-speakers.col-xs-12>div>div>div>div {
        height: 225px;
    }

    /*slick-track*/
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(1)>div>div.time-row.row>div.session-elem.col-md-11.col-md-offset-0>div>div.speakers-container.has-speakers.col-xs-12>div>div>div>div>div,
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(12)>div>div>div.session-elem.col-md-11.col-md-offset-0>div>div.speakers-container.has-speakers.col-xs-12>div>div>div>div>div {
        display: flex;
        flex-direction: column;
    }

    /*Gen AI : A Fireside Chat with YouTube and Believe Card*/
    /*session-container*/
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(1)>div>div.time-row.row>div.session-elem.col-md-11.col-md-offset-0>div {
        height: 410px;
    }


    /*slick-list*/
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(1)>div>div.time-row.row>div.session-elem.col-md-11.col-md-offset-0>div>div.speakers-container.has-speakers.col-xs-12>div>div>div {
        height: 225px;
    }

    /*slick-track*/
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(1)>div>div.time-row.row>div.session-elem.col-md-11.col-md-offset-0>div>div.speakers-container.has-speakers.col-xs-12>div>div>div>div>div {
        display: flex;
        flex-direction: column;
    }

    .slick-track {

        touch-action: none;
        pointer-events: none;
    }

    /*Music Matters to Meta*/
    /*session-container*/
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(13)>div>div>div.session-elem.col-md-11.col-md-offset-0>div {
        height: 315px;
    }

    /*slick-list*/
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(13)>div>div>div.session-elem.col-md-11.col-md-offset-0>div>div.speakers-container.has-speakers.col-xs-12>div>div>div>div {
        height: 100px;
    }

    /*slick-track*/
    body>div.react-main>div>div>div.agenda-view.session-list-view.agenda-custom-css.list.row>div>div>div.session-list-container.row>div>div:nth-child(13)>div>div>div.session-elem.col-md-11.col-md-offset-0>div>div.speakers-container.has-speakers.col-xs-12>div>div>div>div>div {
        display: flex;
        flex-direction: column;
    }
}



/*************************************************/

/*Displaying speakers in column for mobile views mario.r@bizzabo.com ZD:170074*/

@media (max-width: 768px) {
    .agenda-view .session-list-container .session-day-container .time-row .session-elem .session-container .speakers-container .speakers-carousel .slick-list {
        max-height: 239px;
    }
}

.agenda-view .session-list-container .session-day-container .time-row .session-elem .session-container .speakers-container .speakers-carousel .slick-list {
    height: 100%;
}

@media screen and (max-width: 440px) {

    /*Days container*/
    body>div.react-main>div>div>div.agenda-view.session-list-view.top-agenda-margin-single.agenda-custom-css.agenda-view--search.row>div.container>div>div>div:nth-child(5)>div.days-row.margin-vertical-xs.row>div>div>div>div.slick-list>div {
        display: flex;
        flex-direction: row;
    }

    /*Speakers carousel container*/
    .slick-track {
        display: flex;
        flex-direction: column;
    }

}