

/*Video*/


/*Last Imgage*/
#section-4511877 > div{
  height: 37vw;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center center;
}

body > div.react-main > div > div > div > div:nth-child(1) > div.session-info-container > div.session-dates.margin-bottom-small.font-size-14 > div:nth-of-type(3){
  display: none;
}