/*Removing title from header mario.r@bizzabo.com 08/01/24*/
#section-4768749 > div.header.rowHolder.element-23185649.atom-sectionMain.global-cover-photo-background > div{
    display: none;
}


/*-------------End ------------*/

body:has( > #a2it-agenda-header-element) {
    background-color: white!important;
}
.main-react-view > div.agenda-view:not(.agenda-day-selector),
.main-react-view:has(> div.agenda-view) {
    background-color: white!important;
}
.session-section-container,
.session-page.container {
    background-color: #F1F5F9!important;
}