/*specific pages container*/
.home-custom-css {
}
.community-custom-css {
}
.agenda-custom-css {
}
.speakers-custom-css {
}

/*main container of each section*/
.main-app-container {
}

/*
call-to-action buttons e.g:
Register, Join The Community etc
*/
.btn-register {
}

/*Top navigation bar container*/
.template-nav {
}

/*Top navigation bar items container*/
#bs-example-navbar-collapse-1 {
}

/*social share buttons container*/
.social-share-button {
}

/*social share buttons per social network*/
.social-share-button.facebook {
}
.social-share-button.twitter {
}
.social-share-button.linkedin {
}
.social-share-button.google {
}

/*Change session title color*/
.agenda-view
  .session-list-container
  .session-day-container
  .time-row
  .session-elem
  .session-container
  .session-name
  a,
.agenda-view
  .session-list-container
  .session-day-container
  .time-row
  .session-elem
  .session-container
  .session-name
  span {
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}

/*Hide Agenda Session Times*/
.session-info-text  {
  font-size: 14px;
  vertical-align: middle;
  line-height: 21px;
  color: #32333c;
  margin-bottom: 5px;
  display: none ;
}

.agenda-view .session-page .session-info-container .session-dates {
  display: none;
}

.agenda-custom-css,
.all-sessions-button,
.my-interests-button,
.view-button {
  background-color: black !important;
}

.session-name > .session-title,
.speaker-name,
.speaker-title,
.speaker-company,
.speaker-position,
.day-title {
  color: white !important;
}
/*Hide All Agenda Top Bar Items*/
.agenda-view .agenda-search-container {
  display: none;
}
.agenda-view .tab-buttons-container {
  display: none;
}

/* change background session color */
.color-1-background-opacity,
.color-1-background-opacity.custom-color {
  background-color: black !important;
}

.main-react-view {
  height: 100vh;
  background-color: #000000;
}
