
/*mario.r@bizzabo.com ZD:174193*/
/*Adjusting banner and header on Help page*/

#virtual-venue-banner > div{
    height: 198px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    padding: 0 16px;
    -webkit-font-smoothing: antialiased;
}
body > div.main-view.footer-padding.footer-padding-confirmation{
    margin-top: -114px;
}
/*-----------End----------- */

div{
    box-shadow: 12 p;
}

body:has( > #a2it-agenda-header-element){

}

react-view:has(> div.agenda-view){
    
}