/**
Global
**/
body footer:first-of-type,
header.navColors,
.unpublished-bar {
  display: none;
}
body.unpublished-event {
  padding-top: 0;
}
.main-view.footer-padding-confirmation,
.editor-home-page.footer-padding-confirmation {
  padding-bottom: 3rem;
}
.no-scroll {
  overflow: hidden;
}
/*
Agenda bullet points
*/
li::marker{
  color: #fff;
}
/**
Typography
**/
html {
  font-family: 'AmazonEmber', sans-serif;
  font-size: 16px;
}
body {
  line-height: 1.196875;
}
h1,
.main-app-container h1 {
  font-family: 'Made Tommy', 'AmazonEmberDisplay', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
h2,
.main-app-container h2 {
  font-family: 'Made Tommy', 'AmazonEmberDisplay', sans-serif;
  color: white;
  font-size: 3.875rem;
  font-weight: 900;
  text-transform: uppercase;
}
.container-tickets h2 {
  font-size: 1.5rem;
  padding-left: 2rem;
  margin-top: 0.75rem;
}
h3,
.main-app-container h3 {
  font-family: 'Made Tommy', 'AmazonEmberDisplay', sans-serif;
  color: white;
  font-size: 2.175rem;
  font-weight: bold;
}
h4,
.main-app-container h4 {
  font-family: 'Made Tommy', 'AmazonEmberDisplay', sans-serif;
  color: white;
  font-size: 2.25rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
}
.sub-header {
  font-family: 'Made Tommy', 'AmazonEmberDisplay', sans-serif;
  color: white;
  font-size: 2.25rem;
  font-weight: 900;
}
p,
.main-app-container p,
.business-template .html-container p,
.main-app-container ul,
.main-app-container ol,
.main-app-container button {
  font-family: "AmazonEmber", sans-serif;
  color: #071121;
  font-size: 1.325rem;
  letter-spacing: 0;
  line-height: 1.875rem;
  margin-bottom: 1rem;
}
.main-app-container p > a,
.main-app-container li > a {
  color: #1A1C6C;
}
.all-caps,
.main-app-container .all-caps {
  text-transform: uppercase;
}
.main-app-container small,
.main-app-container p.small,
.main-app-container p small {
  font-size: .75rem;
}
p.large,
.main-app-container p.large {
  font-size: 2.1875rem;
  line-height: 2.47619rem; /* 113.197% */
  letter-spacing: 0.21875rem;
  font-weight: normal;
  margin-bottom: 3.5rem;
}
p.xl,
.main-app-container p.xl {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.29938rem; /* 109.979% */
}

/**
Buttons
**/
.btn,
.btn.btn-register,
.main-app-container a.btn,
.header nav a.btn {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.875rem;
  font-weight: bold;
  color: #071121;
  background-color: #96E0E7;
  padding: .5rem 1.25rem;
  border: none !important;
  text-transform: uppercase;
  transition: .2s ease;
  position: relative;
  clip-path: polygon(0 .5rem,.5rem 0,calc(100% - .5rem) 0,100% .5rem,100% calc(100% - .5rem),calc(100% - .5rem) 100%,.5rem 100%,0 calc(100% - .5rem));
}
.btn:before {
  z-index: 10;
  content: "";
  position: absolute;
  background-color: #071121;
  inset: 0;
  clip-path: polygon(0 0.5rem, 0.5rem 0, calc(100% - 0.5rem) 0, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0 calc(100% - 0.5rem), 0 0.5rem, 0.1rem calc(0.5rem + 0.04rem), 0.1rem calc(100% - 0.5rem - 0.04rem), calc(0.5rem + 0.04rem) calc(100% - 0.1rem), calc(100% - 0.5rem - 0.04rem) calc(100% - 0.1rem), calc(100% - 0.1rem) calc(100% - 0.5rem - 0.04rem), calc(100% - 0.1rem) calc(0.5rem + 0.04rem), calc(100% - 0.5rem - 0.04rem) 0.1rem, calc(0.5rem + 0.04rem) 0.1rem, 0.1rem calc(0.5rem + 0.04rem));
  transform: scale(.9);
}

/**
Navigation Header
**/
.main-logo {
  text-align: center;
  position: absolute;
  top: 2.5rem;
  margin: auto;
  width: 100%;
  left: 0;
  right: 0;
}
.main-logo img {
  width: 9.625rem;
}
.container.header {
  position: relative;
}
.container.header .placeholder {
  position: absolute;
}
.menu-icon {
    display: none;
    float: right;
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}
.header nav {
    padding-top: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}
.header nav a:not(.btn) {
  font-family: 'AmazonEmber', sans-serif;
  letter-spacing: .125rem;
  text-transform: uppercase;
  color: white;
}
.header nav a {
  margin-left: 1.5rem;
}
.header nav a.btn {
    float: right;
    margin-bottom: 0;
}

/**
Sections
**/
.section-countdownClock .business-descripton-header-container,
.section-countdownClock .business-border {
  display: none;
}
.section-countdownClock .main-app-container {
  padding-top: 2.5rem;
  padding-left: 2rem;
  padding-bottom: 0;
  margin: 0 auto;
}
.section-countdownClock .js-countdown-view {
  width: 28rem;
  font-size: 1rem;
  padding: 0;
  float: none;
  margin: 0 auto;
}
.business-template .count-container:after {
    background: transparent;
}
.section-countdownClock .count-container:first-child:before {
  display: none;
}
.business-template .count-container:last-child:after {
  display: none;
}
.section-countdownClock .count-number,
.section-countdownClock .count-unit {
  margin-top: .875rem;
  color: #FFF;
  text-align: center;
  font-family: 'Made Tommy', 'AmazonEmber', sans-serif;
    font-weight: bold;
    font-size: 1rem;
  line-height: 1;
  letter-spacing: 1.5px;
}
.section-countdownClock .count-number {
  font-family: 'Made Tommy', 'AmazonEmber', sans-serif !important;
    font-size: 3rem;
    font-weight: normal;
  margin-top: 0;
}
.section-countdownClock .count-unit {
  color: #96E0E7;
}

/* Banner */
.home-banner .main-app-container h1,
.home-banner .main-app-container h2 {
  font-family: 'Made Tommy', "AmazonEmberDisplay", sans-serif;
  font-size: 9.125rem;
  font-size: 6.5vw;
  line-height: 1.2;
  padding-top: 1rem;
  color: white;
  animation: glow ease 3s infinite alternate;
}
.home-banner .main-app-container h2:first-of-type {
  display: none;
}
.home-banner .main-app-container h2 {
  background: linear-gradient(270deg, #FF6D59 45.65%, #FFA880 101.91%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
.home-banner .main-app-container p {
  color: white;
}
.home-banner .main-app-container p.info {
  max-width: 60.125rem;
  margin: 13rem auto;
}
.home-banner .main-app-container p small {
  font-size: 1.25rem;
  font-weight: 300;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 0 #0B8BFF);
  }
  to {
    filter: drop-shadow(0 0 1.5rem #0B8BFF);
  }
}

/* Venue */
.section-venue {
  background-color: #96E0E7;
  margin-left: -15px;
  margin-right: -15px;
}

.section-venue .main-app-container:after {
  content: '';
  display: block;
  position: relative;
  background-color: #44A8E8;
  height: 3px;
  margin: 1rem 1.5rem;
  box-shadow: 0px 0px .5rem .05rem rgba(68, 168, 232, 0.73);
}

.section-venue .element-groups .col-sm-6:first-of-type {
  width: 40%;
}

.section-venue .element-groups .col-sm-6:last-of-type {
  width: 60%;
}

.section-venue .main-app-container h2,
.section-venue .main-app-container h3,
.section-venue .main-app-container p {
  color: #071121;
}

/* FAQ */
.section-faq {
  background-color: #96E0E7;
  margin-left: -15px;
  margin-right: -15px;
}
.section-faq .main-app-container h2,
.section-faq .main-app-container h3,
.section-faq .main-app-container h4,
.section-faq .main-app-container p,
.section-faq .main-app-container ul,
.section-faq .main-app-container li,
.section-faq .main-app-container a,
.section-faq .main-app-container button {
  color: #071121;
}

/**
Accordion
**/
.main-app-container .accordion h3 {
  font-size: 1.1667rem;
  font-weight: normal;
  line-height: normal;
}
.main-app-container button.accordion-trigger {
  background: none;
  display: block;
  margin: 0;
  padding: 1rem 0 0 0;
  margin-bottom: 0;
  position: relative;
  text-align: left;
  width: 100%;
  outline: none;
  border-top: solid 3px #3457BA;
}

.main-app-container .accordion h3:first-of-type > button.accordion-trigger {
  border-top: none;
}

.accordion-trigger:focus,
.accordion-trigger:hover {
  color: #44A8E8;
}
button {
  border-style: none;
}
.accordion button::-moz-focus-inner {
  border: 0;
}
.accordion p > a {
  font-style: underline;
}
.accordion-title {
  display: block;
  pointer-events: none;
  outline: none;
  color: #fff;
}
.accordion-panel {
  margin: 0 0 1rem 0;
  padding: .5rem 0;
}
.main-app-container .accordion-panel p {
  font-size: 1.4rem;
  line-height: 1.4;
}
.accordion-title:after {
    content: '';
    background-image: url(https://s3.amazonaws.com/bizzabo.users.files/C5vqXx6cT2G8jAEmpOsM_arrow.png);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 0rem;
    transition: transform ease .2s;
}
.accordion-trigger[aria-expanded="true"] .accordion-title:after {
  transform: rotate(90deg);
}

/**
Footer
**/
footer {
  height: auto;
  background-color: #242F3F;
  position: relative;
  text-align: center;
  padding: 3rem 1rem 1rem 1rem;
}
footer img {
  margin: 0 3.625rem 1rem 3.625rem;
  width: 10rem;
}
footer .sub-header {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 2rem;
}
.footer-social a {
  display: inline-block;
  color: white;
  margin: 0 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: solid 1px white;
  line-height: 3.5rem;
  height: 3.5rem;
  width: 3.5rem;
}
.footer-social,
.footer-legal,
.footer-copyright {
  margin-bottom: 1.125rem;
}
.footer-legal p,
.footer-legal a,
.footer-copyright p {
  color: white;
  font-size: 1rem;
  font-weight: normal;
}
.footer-with-confirmation-link {
  display: none;
}
.footer-legal p.all-caps {
  padding: 0 1rem;
  font-size: 1.125rem;
  margin-bottom: 0;
}
.footer-legal p.all-caps a {
  margin: 0 1.625rem;
}

/***
Registration Widget
***/
.container-tickets {
  display: none;
  background: rgba(0,0,0,.7);
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  padding: 4rem 2rem;
}
.container-tickets.active {
  display: block;
}
.bizzabo-tickets-widget {
  min-height: 100vh !important;
  display: flex;
  align-items: center;
}
.bizzabo-tickets-widget iframe {
  min-height: 442px;
}
.registration-close {
    position: fixed;
    top: 1rem;
    right: 2rem;
}
/*
.section-legal {
  background: linear-gradient(180deg, rgba(35, 47, 62, .9) 0%, rgba(35, 47, 62, .7) 100%);  border-radius: .5rem;
  padding: 2rem;
  margin-bottom: 2rem;
} */
.main-view.footer-padding {
  padding-bottom: 0;
}

/***
Media Queries
***/
.mobile-only {
  display: none !important;
}
@media screen and (min-width: 991px){
  .col-md-pull-right {
    float: right;
  }
  .section-agenda .card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .section-agenda .card .top > .col-md-8,
  .section-agenda .card .bottom > .col-md-8 {
    width: 60%;
  }
  .section-agenda .card .top > .col-md-4,
  .section-agenda .card .bottom > .col-md-4 {
    width: 40%;
  }
  .section-agenda .card .top {
    text-align: left;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .section-agenda .card .bottom {
    text-align: left;
    margin-top: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
@media screen and (min-width: 1330px){
  .main-app-container {
    max-width: 1266px;
  }
  .section-agenda .card {
    padding: 4rem;
  }
}
@media screen and (min-width: 1690px) {
  .main-app-container {
    max-width: 1650px;
  }
}
@media screen and (max-width: 1689px) {
  .home-banner .main-app-container h1,
  .home-banner .main-app-container h2 {
    font-size: 5.5vw;
  }
  .home-banner .main-app-container p.all-caps {
    margin-bottom: 1rem;
    margin-top: -1.5rem;
  }
  .home-banner .col-sm-6:last-of-type:after {
    background-size: auto 10%, auto 100%;
  }
}
@media screen and (max-width: 1250px) {
  .main-logo {
    top: 1.5rem;
  }
  .business-template .section-countdownClock .business.main-app-container {
    padding-left: 1rem;
  }
  .section-countdownClock .js-countdown-view {
    width: 20rem;
  }
  .col-xs-3.count-container {
    padding: 0;
  }
  .header nav {
    padding-top: 1.5rem;
  }
}
@media screen and (max-width: 1170px){
  .home-banner .main-app-container h1,
  .home-banner .main-app-container h2 {
    font-size: 2.5rem;
  }
  .home-banner .main-app-container h2 {
    margin-top: 0;
  }
  .home-banner .main-app-container h1 {
    margin-top: 5rem;
  }
  .home-banner .main-app-container p.all-caps {
      margin-bottom: 0;
      margin-top: -.5rem;
  }
    .home-banner .main-app-container p.all-caps:nth-of-type(3) {
      margin-bottom: 1rem;
  }
  .home-banner p.details {
    max-width: 100%;
  }
  .main-app-container {
    margin-left: .75rem;
    margin-right: .75rem;
  }
  .main-app-container.bizzabo-tickets-widget {
    margin: 0;
  }
  .section-faq {
    padding-top: 6rem;
  }
  .section-faq .main-app-container {
    margin: 1rem 2rem;
    max-width: 100vw;
  }
  .main-app-container button.accordion-trigger {
    padding: 1.5rem 4rem 1.5rem 2rem;
    font-size: 1.4rem;
  }
  .accordion-title:after {
    right: 2rem;
  }
  .accordion-panel {
    margin: 0 0 1rem 0;
    padding: 0.5rem 2rem;
  }
}
@media screen and (max-width: 870px) {
  /**
  Typography
  **/
  h1,
  .business-template .html-container h1,
  h2,
  .business-template .html-container h2 {
    font-size: 1.75rem;
  }
  h3,
  .business-template .html-container h3 {
    font-size: 1.375rem;
  }
  h4,
  .business-template .html-container h4 {
    font-size: 1.25rem;
  }
  .sub-header {
    font-size: 1.25rem;
  }
  p,
  .business-template .html-container p,
  .business-template .html-container ul,
  .business-template .html-container ol {
    font-size: 1rem;
  }
  p.large,
  .business-template .html-container p.large {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .footer-social a {
    margin: 0 .25rem;
  }
  .footer-legal p.all-caps a {
    margin: 0 .5rem 3.25rem .5rem;
  }
  /** Other **/
  .home-banner .element-groups {
    flex-direction: column;
    padding-top: 1rem;
  }
  .home-banner .col-sm-6:first-of-type {
    z-index: 1;
  }
  .home-banner .col-sm-6:last-of-type {
    height: 100vw;
    margin-top: -3vw;
    z-index: 0;
  }
  .home-banner .col-sm-6:last-of-type:before {
    left: 0;
    right: 0;
    top: 30%;
  }
  .home-banner .col-sm-6:last-of-type:after {
    background-size: auto 10%, contain;
    background-position: 50% 101%;
    left: 0;
    right: 0;
  }
  .home-banner .main-app-container h1,
  .home-banner .main-app-container h2 {
    font-size: 10vw;
  }
.home-banner .main-app-container p.all-caps {
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    line-height: 1.1;
    font-size: 2rem;
}
  .main-logo {
    display: none;
  }
  .mobile-only {
    display: grid !important;
  }
  .desktop-only {
    display: none !important;
  }
  .footer-social a {
    border: none;
  }
  .footer-logos a {
    width: 100%;
  }
  .bg-video {
    width: 800px;
    left: auto;
    right: 0;
  }
  .section-hero {
    margin: 0 -15px;
  }
  .section-hero .bz-flex-col {
    height: 35rem;
    align-items: center;
    overflow: hidden;
  }
  .section-hero .col-sm-6 {
    width: 55rem;
    height: 35rem;
    max-width: none;
    position: absolute;
    margin-top: 0;
  }
  .section-hero .main-app-container {
    margin: 0;
    padding-bottom: 15rem;
  }
  .section-header {
    margin-top: 1.75rem;
    max-width: 80vw;
  }
  .section-countdownClock .js-countdown-view {
    width: 99vw;
    padding-right: 4rem;
  }
  .business-template .section-countdownClock .business.main-app-container {
    padding-top: 0;
  }
  .header nav {
	padding: 1rem;
    position: fixed;
    z-index: -1;
    top: 0;
    padding-top: 2.5rem;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    display: none;
    background-color: #00005E;
    background: var(--linear-3-paints, radial-gradient(69.59% 60.39% at 26.74% 12.11%, #00005E 18.23%, rgba(3, 3, 86, 0.36) 38.54%, rgba(21, 0, 255, 0.00) 100%), linear-gradient(147deg, #0F0F9D 11.83%, #00005E 44.73%, #060683 74.28%));
  }
  .header nav.active {
    height: auto;
    display: flex;
    min-height: 100vh;
  }
  .header.container {
    padding: 0 2rem 0 0;
    margin-right: 0;
    z-index: 100;
  }
  .header nav a {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: .5rem;
    margin-left: 0;
  }
  .home-page.home-custom-css {
    margin-top: 0;
  }
  p.connections-hub-img {
    margin: 0 -1.7125rem;
  }
  .menu-icon {
    display: block;
    margin-top: 1.25rem;
    position: absolute;
    top: 0;
  }
  .sections-holder:before {
    background-position: 0 15rem;
  }
  .col-sm-6,
  .section-faq .col-sm-6:first-of-type,
  .section-faq .col-sm-6:last-of-type {
    width: 100%;
  }
}
@media (max-width: 768px){
  .main-view.footer-padding, .editor-home-page.footer-padding {
    padding-bottom: 3rem;
  }
}
@media (max-width: 500px){
  .section-md {
    display: none;
  }
  .section-xs {
    display: block;
  }
  .section-hero.section-xs .bz-flex-col {
    overflow: visible;
    height: auto;
    padding: 0;
    display: block;
  }
}