/*Home page header responsive -mario.r@bizzabo.com 03/15/24*/

/*Setting font*/

body {
  font-family: "Montserrat";
}

/*Moving logo top left corner*/
#bs-example-navbar-collapse-1
  > ul:nth-child(1)
  > li.logo-li-holder.hidden-sm.hidden-xs {
  position: absolute;
  right: 48vw;
}

/*Setting width all p tags*/
body > p {
  width: 953px;
}

/*Centering texts on custom elements*/
.margin-custom-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Making responsive header element*/
@media screen and (min-width: 768px) {
  .section-4095438 .custom-space-bottom,
  .section-4111710 .custom-space-bottom {
    padding: 0;
    height: 47vw;
  }

  /*Are You an Automation Anywhere Partner? Section*/
  #section-4111430
    > div
    > div
    > div.element-groups.Component-elementGroups-0-2-1
    > div
    > div.atom-main.full-width.margin-custom-element.element-20232643
    > div {
    width: 773px;
  }
}

/*Are you a business leader?, Are you a developer?, Do you lead a Center of Excellence? and Forge new business relationships. Sections*/
.section-4095679 .atom-sectionMain, .section-4098793 .atom-sectionMain, .section-4098820 .atom-sectionMain, .section-4098821 .atom-sectionMain  {
  min-height: 593px;
  
}

#section-4095679 > div > div, #section-4098793 > div > div, #section-4098820 > div > div, #section-4098821 > div > div{
  max-width: 100vw;
}

/*Are you a business leader? and Are you a developer? Sections*/

/*First element*/
#section-4095679 > div > div > div.element-groups.Component-elementGroups-0-2-1 > div:nth-child(1),
#section-4098820 > div > div > div.element-groups.Component-elementGroups-0-2-1 > div:nth-child(1){
  height: 438px;
  display: flex;
  justify-content: center;
  width: 35vw;
  margin-left: 10vw
}
/*First element p*/
#section-4095679 > div > div > div.element-groups.Component-elementGroups-0-2-1 > div:nth-child(1) > div > div > p:nth-child(2),
#section-4098820 > div > div > div.element-groups.Component-elementGroups-0-2-1 > div:nth-child(1) > div > div > p:nth-child(2){
  width: 25vw;
}
/*Second element img*/
#section-4095679 > div > div > div.element-groups.Component-elementGroups-0-2-1 > div:nth-child(2),
#section-4095679 > div > div > div.element-groups.Component-elementGroups-0-2-1 > div:nth-child(2){
  width: 668px;
  height: 441px;
  margin-left: 6vw;
  top: 1vw;
}

/*Making video responsive*/
@media screen and (min-width: 220px) {
  #section-4110233 > div {
    height: 56vw;
  }
}

