/*Seting speakers in row of 5  -mario.r@bizzabo.com 01/02/24*/
#section-3847645 > div > div{
  width: 99vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section-3847645 > div > div > div.col-xs-12.text-center.attendees-faces-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
#section-3847645 > div > div > div.col-xs-12.text-center.attendees-faces-holder > div{
  width: 60vw;
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*Eliminating space among speakers info elements -mario.r@bizzabo.com 01/02/24*/
.attendees-faces-holder > .row > div{
  width: 250px;
  height: 390px;
margin:10px;
display: flex;
  align-items: center;
  flex-direction: column;
}


/*Setting flex wrap to speakers on speakers page -mario.r@bizzabo.com*/
#section-599458 > div > div > div.col-xs-12.text-center.attendees-faces-holder > div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*Eliminating space among speakers info elements -mario.r@bizzabo.com 02/02/24*/
.atom-fullname,.attendee-name, .atom-text1, .attendee-title, .atom-text2, .attendee-company{
width: initial;
margin-bottom: 0px !important;
margin-top: 0px !important;
}

@media screen and (max-width: 1920px) {
  #section-3847645 > div > div > div.col-xs-12.text-center.attendees-faces-holder > div{
      width: 60vw;
 }
}

@media screen and (max-width: 1800px) {
  #section-3847645 > div > div > div.col-xs-12.text-center.attendees-faces-holder > div{
      width: 90vw;
   
  }
}