/*Expand Session Description*/
.agenda-view .session-list-container .session-day-container .time-row .session-elem .session-container .preview-session-description {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    -webkit-animation: all 0.3s ease-in-out;
    -moz-animation: all 0.3s ease-in-out;
    -ms-animation: all 0.3s ease-in-out;
    -o-animation: all 0.3s ease-in-out;
    animation: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    max-height: max-content;
    overflow: hidden;
 }
 
 #section-4142978 > div > div:nth-child(1) > video{
     width: 100vw;
     padding: 0 6vw 10vw 6vw;
   
 }
 /*Header and video - mario.r@bizzabo.com*/
 @media screen and (min-width: 767px) {
     /*Header container*/
   #section-3996619 > div > div {
     padding: 0;
     height: 47vw;
     display: flex;
     justify-content: center;
     align-items: center;
   }
 
   /*Header Videp*/
   #section-4142978 > div > div > div:nth-child(1) > video {
     width: 100vw;
     height: auto;
   }
 }
 
 @media screen and (max-width: 767px) {
 /*Second video container*/
   #section-4143486 > div {
     height: 25vh !important;
     padding: 6vw ;
   }
 }
 
 @media only screen and (max-width: 440px) {
  /*Header*/
  #section-3996619 > div{
    height: 58vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Video*/
  #section-4142978 > div{
    height: 67;
  }

 }
 
 /*Agenda page, adjusting cards with few content*/
 
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(7) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div,
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(11) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div,
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(14) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div{
     height: 13vh;
 }
 
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(4) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div{
     height: 13vh;
 }
 
 @media only screen and (max-width: 500px) {
     body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(7) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div,
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(11) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div,
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(14) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div{
     height: 16vh;
 }
 
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(4) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div{
     height: 11vh;
 }
 }
