/*Header and video - mario.r@bizzabo.com*/

  /*Header container*/
  #section-3996619 > div > div {
    padding: 0;
    height: 47vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/*Header Video*/
#section-3996619 > div > div > div:nth-child(1) > video{
  width: 100vw;
  }

/*Header title*/
#section-3996619 > div > div > div:nth-child(2) > div.col-xs-12.col-sm-10.col-sm-offset-1.text-center.element-19707030 > h1{
  font-size: 0;
  font-family: TNR;
}  

#section-3996619 > div > div > div:nth-child(2) > div.col-xs-12.col-sm-10.col-sm-offset-1.text-center.element-19707030 > h1::after{
  content: "Want to attend the European Investment Conference";
  font-size: 46px;
  text-transform: none;
}

/*Header Date*/

#section-3996619 > div > div > div:nth-child(2) > div.date-venue-holder.col-xs-12.text-center.form-group > div > div > div > div > div > span{
  font-size: 0 !important;
}

#section-3996619 > div > div > div:nth-child(2) > div.date-venue-holder.col-xs-12.text-center.form-group > div > div > div > div > div > span::after{
  font-size: 1.4rem;
  content: "Tuesday, 17 September 2024";
}

  /*Second video container*/
body > div.main-view.footer-padding > div > ul > div.trade-template.section-4142978{
  padding: 6vw;

}

#section-4142978 > div{
  height: 50vw;
  }

/*Second Video*/
#section-4142978 > div > div:nth-child(1) > video{
  width: 100vw !important;
}


@media screen and (max-width: 767px) {
/*Second video container*/
#section-4142978 > div{
  height: 25vh !important;
  padding: 6vw ;
}
}

@media only screen and (max-width: 440px) {

 /*Header container*/
 #section-3996619 > div > div{
  height: 58vh;
 } 

 /*Header Video*/
#section-3996619 > div > div > div:nth-child(1) > video{
 position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: 58vh !important;
z-index: 0;
transform: translateX(-81%) translateY(-50%); 
}


#section-4142978 > div{
 height: 67;
}

}




 /*Agenda page, adjusting cards with few content*/
 
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(7) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div,
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(11) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div,
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(14) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div{
     height: 13vh;
 }
 
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(4) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div{
     height: 13vh;
 }
 
 @media only screen and (max-width: 500px) {
     body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(7) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div,
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(11) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div,
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(14) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div{
     height: 16vh;
 }
 
 body > div.react-main > div > div > div.agenda-view.session-list-view.agenda-custom-css.sideBySide.row > div > div > div > div > div:nth-child(4) > div > div > div.session-elem.sessions-time-elem.col-md-11.col-md-offset-0 > div{
     height: 11vh;
 }
 }
