

/*Justyfing left header title on mobile views mario.r@bizzabo.com 08/02/2024 ZD:168615*/

@media screen and (max-width: 768px) {
  #section-3702499 > div > div > div.element-groups.Component-elementGroups-0-2-1 > div > div > div > p:nth-child(3) > span > span{
    font-size: 0 !important;
  }
  #section-3702499 > div > div > div.element-groups.Component-elementGroups-0-2-1 > div > div > div > p:nth-child(3) > span > span::after{
    font-family: MuseoSans300, sans-serif;
    font-size: 48px;
    content: "Savor the Innovation with Adobe and EPAM";
  }
  
  #section-3702499 > div > div > div.element-groups.Component-elementGroups-0-2-1 > div > div > div > p:nth-child(3){
    margin-left: 4vw;
  }
}

/*--------End------------*/